<style>
  .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
  }

  .styled:hover {
    background-color: rgba(255, 0, 0, 1);
  }

  .styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
  }

  .collapsible {
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    background-color: #777;
    margin-bottom:1px;
  }

  .gray {
    background-color: #777;
  }

  .active, .gray:hover {
    background-color: #555;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }


  .checkmark-icon {
    display:inline-block;
    width: 22px;
    height:22px;
    background: green;
    border-radius:50%;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }

  .checkmark-icon:before{
    content:"";
    position: absolute;
    width:3px;
    height:9px;
    background-color:#fff;
    left:11px;
    top:6px;
  }

  .checkmark-icon:after{
    content:"";
    position: absolute;
    width:3px;
    height:3px;
    background-color:#fff;
    left:8px;
    top:12px;
  }

  .cross-icon
  {
    display:inline-block;
    box-sizing:border-box;
    width:22px;
    height:22px;
    border-width:3px;
    border-style: solid;
    border-color:red;
    border-radius:100%;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
    background-color:red;
  }

  .split-para      { display:block;}
  .split-para span { display:block;float:right;}

  hr {
    width: 100%;
    background-color:#DCDCDC;
    height: 1px;
  }

</style>

<div>

  <div class="modal-body">
    <div>
      <label for="varName">Variable Searched : </label>
      <select ng-model="varName" id="varName">
        <option value="rrnr">Rrnr</option>
        <option value="uuid">Uuid</option>
        <option value="nameT0">Name (AuditableT0)</option>
        <option value="nameT1">Name (AuditableT1)</option>
        <option value="auditorId">Auditor Id</option>
      </select>
      <input ng-model="varValue" type="text"/>
    </div>

    <label for="dateRange">Include Date Range : </label>
    <input type="checkbox" id="dateRange" ng-model="dateRange"
           checked>

    <div ng-hide="dateRange == false">
      <label for="after">Processed Between : </label>
      <input type="date" id="after" ng-model="after"
             value="2020-01-01">
      -
      <input ng-model="before" type="date">
    </div>
    <div>
      <button ng-click="submit()" class="favorite styled"  type="button">
        Search
      </button>
    </div>
  </div>

  <div>
    <div data-ng-repeat="data in stateData">
      <button class="collapsible" ng-click="handleClick($event)">JIO processed on {{data.auditableT0State.processingDate | date:'medium'}} </button>
      <div class="content">

        <p><b>Auditor Id</b> : {{data.auditableT0State.auditableT0Id.userId}}</p>

        <button class="collapsible split-para" ng-click="handleClick($event)">AuditableT0 <span ng-class="data.auditableT0State.fullyMerged ? 'checkmark-icon' : 'cross-icon'"></button>
        <div class="content">
          <p><b>Uuid</b> : {{data.auditableT0State.auditableT0Id.uuidT0}}</p>
          <p><b>userId</b> : {{data.auditableT0State.auditableT0Id.userId}}</p>
          <p><b>wgnr</b> : {{data.auditableT0State.auditableT0Id.wgnr}}</p>
          <p><b>Name</b> : {{data.auditableT0State.auditableT0Id.nameT0}}</p>

          <button class="collapsible split-para" ng-click="handleClick($event)">State of Processing :  <span ng-class="data.auditableT0State.fullyMerged ? 'checkmark-icon' : 'cross-icon'"></button>
          <div class="content">
            <hr>
            <p class="split-para">Auditable Merged :  <span ng-class="data.auditableT0State.postitUpdated ? 'checkmark-icon' : 'cross-icon'"></span></p>
            <hr>
            <p class="split-para">Dao Merged :  <span ng-class="data.auditableT0State.postitUpdated ? 'checkmark-icon' : 'cross-icon'"></span></p>
            <hr>
            <p class="split-para">Postits Updated : <span ng-class="data.auditableT0State.postitUpdated ? 'checkmark-icon' : 'cross-icon'"></span></p>
            <hr>
          </div>
        </div>

        <!--<br><br>-->

        <div ng-if="data.auditableT1States.length > 0">
          <button class="collapsible" ng-click="handleClick($event)">AuditableT1s</button>
          <div class="content">
            <div data-ng-repeat="t1 in data.auditableT1States">
              <button class="collapsible split-para" ng-click="handleClick($event)">AuditableT1 for RrNr {{t1.auditableT1Id.rrnr}}<span ng-class="t1.fullyMerged ? 'checkmark-icon' : 'cross-icon'"></button>
              <div class="content">
                <p><b>Uuid</b> : {{t1.auditableT1Id.uuidT1}}</p>
                <p><b>Rrnr</b> : {{t1.auditableT1Id.rrnr}}</p>
                <p><b>Sis Number</b> : {{t1.auditableT1Id.sisnumber}}</p>
                <p><b>Name</b> : {{t1.auditableT1Id.nameT1}}</p>
                <p><b>Wn Number</b> : {{t1.auditableT1Id.wnnumber}}</p>

                <button class="collapsible split-para" ng-click="handleClick($event)">State of Processing : <span ng-class="t1.fullyMerged ? 'checkmark-icon' : 'cross-icon'"></button>
                <div class="content">
                  <hr>
                  <p class="split-para">Auditable Merged :  <span ng-class="t1.auditableMerged ? 'checkmark-icon' : 'cross-icon'"></p>
                  <hr>
                  <p class="split-para">Dao Merged :  <span ng-class="t1.daoMerged ? 'checkmark-icon' : 'cross-icon'"></p>
                  <hr>
                  <p class="split-para">Postits Updated :  <span ng-class="t1.postitUpdated ? 'checkmark-icon' : 'cross-icon'"></p>
                  <hr>
                  <p class="split-para">Reports Updated :  <span ng-class="t1.reportsUpdated ? 'checkmark-icon' : 'cross-icon'"></p>
                  <hr>
                  <p class="split-para">ReintegrationController done :  <span ng-class="t1.reintegrationController ? 'checkmark-icon' : 'cross-icon'"></p>
                  <hr>
                  <p class="split-para">SynchroController Done :  <span ng-class="t1.synchroController ? 'checkmark-icon' : 'cross-icon'"></p>
                  <hr>

                </div>
                <!--<br><br>-->
              </div>
            </div>
          </div>
        </div>

        <div ng-if="data.labRequestStates.length > 0">
          <button class="collapsible" ng-click="handleClick($event)">Egel Requests</button>
          <div class="content">
            <div data-ng-repeat="state in data.labRequestStates">
              <button class="collapsible split-para" ng-click="handleClick($event)">Egel Request with id {{state.labRequestDTOId.id}} <span><b>Status : {{state.state}}</b></span></button>
              <div class="content">
                <p><b>Id</b> : {{state.labRequestDTOId.id}}</p>
                <p><b>Label</b> : {{state.labRequestDTOId.label}}</p>
                <p><b>Number</b> : {{state.labRequestDTOId.number}}</p>

                <hr>
                <p><b>Status of request </b> : {{state.state}}</p>
                <!--<br><br>-->
              </div>
            </div>
          </div>
        </div>

        <div ng-if="data.vaccinationStates.length > 0">
          <button class="collapsible" ng-click="handleClick($event)">Vaccinations</button>
          <div class="content">
            <div data-ng-repeat="vaccin in data.vaccinationStates">
              <button class="collapsible split-para" ng-click="handleClick($event)">Vaccination with RrNr {{vaccin.vaccinationDTOId.rrnr}} <span ng-class="vaccin.done ? 'checkmark-icon' : 'cross-icon'"></button>
              <div class="content">
                <p><b>Rrnr</b> : {{vaccin.vaccinationDTOId.rrnr}}</p>
                <p><b>CnkCode</b> : {{vaccin.vaccinationDTOId.cnkCode}}</p>
                <p><b>Vaccine Name</b> : {{vaccin.vaccinationDTOId.vaccineName}}</p>

                <hr>
                <p class="split-para"><b>State of Processing</b> :  <span ng-class="vaccin.done ? 'checkmark-icon' : 'cross-icon'"></p>
                <!--<br><br>-->
              </div>
            </div>
          </div>
        </div>

        <div ng-if="data.legacyProcessorStates.length > 0">
          <button class="collapsible" ng-click="handleClick($event)">ToProcessLegacyDto</button>
          <div class="content">
            <div data-ng-repeat="state in data.legacyProcessorStates">
              <button class="collapsible split-para" ng-click="handleClick($event)">ToProcessLegacyDto with RrNr {{state.toProcessLegacyDTOId.rrnr}}<span ng-class="state.fullyMerged ? 'checkmark-icon' : 'cross-icon'"></button>
              <div class="content">
                <p><b>User Id</b> : {{state.toProcessLegacyDTOId.userId}}</p>
                <p><b>Rrnr</b> : {{state.toProcessLegacyDTOId.rrnr}}</p>

                <button class="collapsible split-para" ng-click="handleClick($event)">State of Processing : <span ng-class="state.fullyMerged ? 'checkmark-icon' : 'cross-icon'"></button>
                <div class="content">
                  <hr>
                  <p class="split-para">Administrative Processor :  <span ng-class="state.administrativeProcessor ? 'checkmark-icon' : 'cross-icon'"></p>
                  <hr>
                  <p class="split-para">Hazard Processor :  <span ng-class="state.hazardProcessor ? 'checkmark-icon' : 'cross-icon'"></p>
                  <hr>
                  <p class="split-para">Hepatitis Processor :  <span ng-class="state.hepatitisProcessor ? 'checkmark-icon' : 'cross-icon'"></p>
                  <hr>
                  <p class="split-para">Inability Processor :  <span ng-class="state.inabilityProcessor ? 'checkmark-icon' : 'cross-icon'"></p>
                  <hr>
                  <p class="split-para">Inactivity Processor :  <span ng-class="state.inactivityProcessor ? 'checkmark-icon' : 'cross-icon'"></p>
                  <hr>
                  <p class="split-para">Prestation Processor :  <span ng-class="state.prestationProcessor ? 'checkmark-icon' : 'cross-icon'"></p>
                  <hr>
                  <p class="split-para">Service Processor :  <span ng-class="state.serviceProcessor ? 'checkmark-icon' : 'cross-icon'"></p>
                  <hr>
                  <p class="split-para">Reintegration Processor :  <span ng-class="state.reintegrationProcessor ? 'checkmark-icon' : 'cross-icon'"></p>
                  <hr>

                </div>
                <!--<br><br>-->
              </div>
            </div>
          </div>
        </div>


        <!--<br><br>-->
      </div>

    </div>
  </div>
</div>
